<div class="footer">
  <p>Montresor&trade; was made by <strong><a href="https://github.com/nicfan139">Nicolas Fan</a></strong>, <strong><a href="https://github.com/theoavoyne">Theo Avoyne</a></strong>, and <strong><a href="https://github.com/OlivierRiccini">Olivier Riccini</a></strong></p>
</div>
