<p><strong>Description:</strong> <%= offer.description %></p>
<p><strong>Price (optional):</strong> <%= offer.price %></p>
<p><strong>Sent:</strong> <%= offer.created_at %></p>
<p><strong>State:</strong> <%= offer.state.capitalize %></p>
