<div class="wrapper">
  <h1>Products</h1>
  <div class="group search">
      <input type="text" required id="search-bar">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label id="search-label">Search</label>
    </div>
  <div class="products">
    <div class="row" id="row-products">
      <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="white-box">
          <%= render '/shared/product_card', product: product %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
