.scrollToTop{
  z-index: 99;
  color: $purple-site;
  text-decoration: none;
  position: fixed;
  top: calc(100% / 2);
  left: 5px;
  display: none;
  font-size: 50px;
  opacity: 0.7;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: $purple-site;
    opacity: 0.9;
  }
}

