.footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  p {
    padding-top: 20px;
    padding-left: 40px;
  }
}
